Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run google-format

.lintstagedrc:

{
  "linters": {
    "*.{js,ts}": [
      "npm run pretty",
      "git add"
    ],
    "*.java": [
      "npm run google-format",
      "git add"
    ]
  }
}

feat: added frontend validators (#582)
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/shared/util/matchers/parent-error-state-matcher.ts
Due: npm run pretty, npm run google-format

fix(landing): improved responsiveness of the login screen
  frontend/src/app/modules/landing/pages/login/login.component.html
Due: none

fix(shared): fixed NUMBERS_ONLY regexp to allow negative numbers (#583)
  frontend/src/app/shared/constants/regexps/regular-expressions.spec.ts
  frontend/src/app/shared/constants/regexps/regular-expressions.ts
Due: npm run pretty

fix(landing): improved responsiveness of the login screen (#584)
  frontend/src/app/modules/landing/pages/login/login.component.html
Due: none

added validation to the form
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.spec.ts
  frontend/src/app/modules/shared/shared.module.ts
  frontend/src/app/shared/directives/disable-control/disable-control.directive.ts
  frontend/src/app/shared/directives/reset-control/reset-control.directive.ts
Due: npm run pretty

fix ci issue
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
Due: npm run pretty

added validation to the form (#585)
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.spec.ts
  frontend/src/app/modules/shared/shared.module.ts
  frontend/src/app/shared/directives/disable-control/disable-control.directive.ts
  frontend/src/app/shared/directives/reset-control/reset-control.directive.ts
Due: npm run pretty

setting datasource for quartz
  backend/pom.xml
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/configuration/QuartzConfiguration.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/quartz.properties
Due: npm run google-format

configured quartz datasource
  backend/src/main/java/org/openhr/application/adminconfiguration/repository/AdminConfigurationRepository.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/factory/SchedulerFactory.java
  backend/src/main/java/org/openhr/configuration/QuartzConfiguration.java
  backend/src/main/resources/quartz-dev.properties
  backend/src/main/resources/quartz-production.properties
  backend/src/test/resources/quartz-dev.properties
Due: npm run google-format

added datasource
  backend/src/main/java/org/openhr/application/adminconfiguration/repository/AdminConfigurationRepository.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/main/java/org/openhr/application/allowance/domain/ResetJobAllowanceSettings.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.scss
Due: npm run google-format

fixed tests
  backend/src/main/java/org/openhr/configuration/QuartzConfiguration.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-production.properties
  backend/src/main/resources/quartz-dev.properties
  backend/src/test/resources/application-dev.properties
Due: npm run google-format

fixed tests
  backend/src/test/resources/quartz-dev.properties
Due: none

fixed tests
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
  backend/src/main/java/org/openhr/configuration/QuartzConfiguration.java
Due: npm run google-format

configured datasource for Quartz
  backend/pom.xml
  backend/src/main/java/org/openhr/application/adminconfiguration/repository/AdminConfigurationRepository.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/main/java/org/openhr/application/allowance/domain/ResetJobAllowanceSettings.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/factory/SchedulerFactory.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
  backend/src/main/java/org/openhr/configuration/QuartzConfiguration.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-production.properties
  backend/src/main/resources/data.sql
  backend/src/main/resources/quartz-dev.properties
  backend/src/main/resources/quartz-production.properties
  backend/src/test/resources/application-dev.properties
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.scss
Due: npm run google-format

fix: fixed autowiring issue
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
Due: npm run google-format

fix: fixed autowiring issue (#587)
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
Due: npm run google-format

Angular 5.2.4 update - progress spinner add
  frontend/src/app/modules/landing/landing.module.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.html
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.scss
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.spec.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/src/app/modules/landing/pages/login/domain/credentials.ts
  frontend/src/app/modules/landing/pages/login/domain/refresh-token.ts
  frontend/src/app/modules/landing/pages/login/login.component.ts
  frontend/src/app/modules/landing/pages/login/service/login.service.spec.ts
  frontend/src/app/modules/landing/pages/login/service/login.service.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
Due: npm run pretty

updated dependencies
  frontend/package.json
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.html
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.scss
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/yarn.lock
Due: npm run pretty

added loading indicator
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.scss
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.scss
  frontend/src/app/modules/core/pages/delegation/delegation.component.spec.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.scss
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.spec.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.scss
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.scss
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.html
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.scss
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.spec.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/src/app/modules/landing/pages/login/login.component.spec.ts
Due: npm run pretty

Angular 5.2.9 update - progress spinner added (#588)
  frontend/package.json
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.scss
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.scss
  frontend/src/app/modules/core/pages/delegation/delegation.component.spec.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.scss
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.spec.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.scss
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.scss
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/landing/landing.module.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.html
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.scss
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.spec.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/src/app/modules/landing/pages/login/domain/credentials.ts
  frontend/src/app/modules/landing/pages/login/domain/refresh-token.ts
  frontend/src/app/modules/landing/pages/login/login.component.spec.ts
  frontend/src/app/modules/landing/pages/login/login.component.ts
  frontend/src/app/modules/landing/pages/login/service/login.service.spec.ts
  frontend/src/app/modules/landing/pages/login/service/login.service.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
  frontend/yarn.lock
Due: npm run pretty

:wrench: fix(core): fixed responsiveness of delegation page
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
Due: none

:wrench: fix(core): fixed responsiveness of delegation page (#589)
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
Due: none

feat(core): improved used-allowance widget
  backend/src/main/java/org/openhr/application/dashboard/service/DashboardServiceImpl.java
  backend/src/main/java/org/openhr/common/util/date/DateRangeUtil.java
  backend/src/main/java/org/openhr/common/util/iterable/LocalDateRange.java
  backend/src/main/resources/log4j.properties
  backend/src/test/java/org/openhr/application/dashboard/service/DashboardServiceTest.java
  backend/src/test/java/org/openhr/common/util/date/DateRangeUtilTest.java
Due: npm run google-format

feat(core): improved used-allowance widget (#590)
  backend/src/main/java/org/openhr/application/dashboard/service/DashboardServiceImpl.java
  backend/src/main/java/org/openhr/common/util/date/DateRangeUtil.java
  backend/src/main/java/org/openhr/common/util/iterable/LocalDateRange.java
  backend/src/main/resources/log4j.properties
  backend/src/test/java/org/openhr/application/dashboard/service/DashboardServiceTest.java
  backend/src/test/java/org/openhr/common/util/date/DateRangeUtilTest.java
Due: npm run google-format

chore: exclude configuration from code coverage
  .codecov.yml
Due: none

chore: exclude configuration from code coverage (#591)
  .codecov.yml
Due: none

tests: added missing tests for util classes
  backend/src/main/java/org/openhr/common/util/iterable/LocalDateRange.java
  backend/src/test/java/org/openhr/common/util/date/DateRangeUtilTest.java
  backend/src/test/java/org/openhr/common/util/date/DateUtilTest.java
Due: npm run google-format

tests: added missing tests for util classes (#592)
  backend/src/main/java/org/openhr/common/util/iterable/LocalDateRange.java
  backend/src/test/java/org/openhr/common/util/date/DateRangeUtilTest.java
  backend/src/test/java/org/openhr/common/util/date/DateUtilTest.java
Due: npm run google-format

chore: making TSLint more restrictive
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.spec.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/application-type/application-type.pipe.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/leave-application-status/application-status.pipe.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.spec.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/src/app/modules/landing/pages/login/domain/credentials.ts
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/modules/settings/pages/settings/settings.component.ts
  frontend/src/app/shared/components/date-range/date-range.component.spec.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
  frontend/src/app/shared/components/date-range/domain/bank-holiday/england/bank-holiday.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.ts
  frontend/src/app/shared/components/sidenav/sidenav.component.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
  frontend/src/app/shared/guards/hr-team-member-guard/hr-team-member.guard.ts
  frontend/src/app/shared/guards/main-guard/main.guard.ts
  frontend/src/app/shared/guards/manager-guard/manager.guard.ts
  frontend/src/app/shared/pipes/capitalize/capitalize.pipe.ts
  frontend/src/app/shared/pipes/initials/initials.pipe.ts
  frontend/src/app/shared/pipes/name/name.pipe.ts
  frontend/src/app/shared/services/notification/notification.service.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.spec.ts
  frontend/tslint.json
Due: npm run pretty

more rules enabled
  frontend/src/test.ts
  frontend/tslint.json
Due: npm run pretty

chore: made typdef more strict
  frontend/e2e/pages/login/login.po.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/e2e/shared.po.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/src/app/shared/components/sidenav/sidenav.component.ts
  frontend/src/app/shared/services/manager/manager.service.ts
  frontend/tslint.json
Due: npm run pretty

fixed typedef issue
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty

refactor: added retry statement. Normalized ajax boolean helpers
  frontend/src/app/config/system-variables.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.html
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/modules/settings/pages/settings/settings.component.html
  frontend/src/app/modules/settings/pages/settings/settings.component.ts
Due: npm run pretty

refactor: added retry statement. Normalized ajax boolean helpers (#594)
  frontend/src/app/config/system-variables.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.html
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.ts
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/modules/settings/pages/settings/settings.component.html
  frontend/src/app/modules/settings/pages/settings/settings.component.ts
Due: npm run pretty

feat(core): added card that displays bank holidays
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.scss
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.spec.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty

feat(core): added card that displays bank holidays (#595)
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.scss
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.spec.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty

chore: excluding Facade and Configuration from coverage
  .codecov.yml
Due: none

fixing codecov
  .codecov.yml
Due: none
