Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run google-format

:wrench: fix: fixed issue with sending emails (#513)
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommand.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  backend/src/main/resources/processes/leave-application.bpmn20.xml
  backend/src/test/java/org/openhr/processes/delegationapplication/DelegationApplicationProcessTest.java
  backend/src/test/java/org/openhr/processes/leaveapplication/LeaveApplicationProcessTest.java
Due: npm run google-format

tests: added unit test
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.spec.ts
Due: npm run pretty

refactor: add Angular Interceptor (#514)
  frontend/src/app/app.module.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.spec.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.ts
  frontend/src/app/modules/core/pages/dashboard/service/dashboard.service.ts
  frontend/src/app/modules/core/pages/delegation/service/delegation.service.ts
  frontend/src/app/modules/core/pages/leave-application/service/leave-application.service.ts
  frontend/src/app/modules/core/pages/manage-delegations/service/manage-delegations.service.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/service/my-applications.service.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.ts
  frontend/src/app/modules/core/pages/workers/service/workers.service.ts
  frontend/src/app/modules/settings/pages/account/service/account.service.ts
  frontend/src/app/modules/settings/pages/settings/service/settings.service.ts
  frontend/src/app/shared/components/date-range/service/date-range.service.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.spec.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.ts
  frontend/src/app/shared/services/employee/employee.service.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
  frontend/src/app/shared/services/subject/subject-details.service.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.spec.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.ts
Due: npm run pretty

:wrench: fix: fixed issue with incorrect subtraction of free days
  backend/src/main/java/org/openhr/application/holiday/service/HolidayService.java
  backend/src/main/java/org/openhr/application/holiday/service/HolidayServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/common/util/iterable/LocalDateRange.java
  backend/src/test/java/org/openhr/application/holiday/service/HolidayServiceTest.java
  backend/src/test/java/org/openhr/application/subject/service/SubjectServiceTest.java
Due: npm run google-format

:wrench: fix: fixed issue with incorrect subtraction of free days (#515)
  backend/src/main/java/org/openhr/application/holiday/service/HolidayService.java
  backend/src/main/java/org/openhr/application/holiday/service/HolidayServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/common/util/iterable/LocalDateRange.java
  backend/src/test/java/org/openhr/application/holiday/service/HolidayServiceTest.java
  backend/src/test/java/org/openhr/application/subject/service/SubjectServiceTest.java
Due: npm run google-format

:wrench: fix: fixed issue with displaying employee name
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
Due: npm run pretty

:wrench: fix: fixed issue with displaying employee name (#516)
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
Due: npm run pretty

:sparkles: feat(core): generate ICS file for leave & delegation
  backend/pom.xml
  backend/src/main/java/org/openhr/application/holiday/service/HolidayServiceImpl.java
  backend/src/main/java/org/openhr/application/ics/service/IcsService.java
  backend/src/main/java/org/openhr/application/ics/service/IcsServiceImpl.java
  backend/src/main/java/org/openhr/common/util/date/DateRangeUtil.java
  backend/src/main/java/org/openhr/common/util/date/DateUtil.java
  backend/src/main/java/org/openhr/common/util/iterable/LocalDateRange.java
  backend/src/test/java/org/openhr/common/util/date/DateRangeUtilTest.java
Due: npm run google-format

feat: implemented ical4j library
  backend/pom.xml
  backend/src/main/java/org/openhr/application/ics/service/IcsService.java
  backend/src/main/java/org/openhr/application/ics/service/IcsServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommand.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacade.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/common/util/stream/StreamUtil.java
  backend/src/main/resources/ical4j.properties
Due: npm run google-format

feat: implemented ical4j library (#518)
  backend/pom.xml
  backend/src/main/java/org/openhr/application/ics/service/IcsService.java
  backend/src/main/java/org/openhr/application/ics/service/IcsServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommand.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacade.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/common/util/stream/StreamUtil.java
  backend/src/main/resources/ical4j.properties
Due: npm run google-format

feat(core): added front-end methods to handle file download
  backend/src/main/java/org/openhr/application/application/controller/ApplicationController.java
  backend/src/main/java/org/openhr/application/application/dao/ApplicationDAO.java
  backend/src/main/java/org/openhr/application/application/dao/ApplicationDAOImpl.java
  backend/src/main/java/org/openhr/application/application/facade/ApplicationFacade.java
  backend/src/main/java/org/openhr/application/application/facade/ApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/application/repository/ApplicationRepository.java
  backend/src/main/java/org/openhr/application/application/service/ApplicationService.java
  backend/src/main/java/org/openhr/application/application/service/ApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacade.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/service/my-applications.service.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.spec.ts
Due: npm run pretty, npm run google-format

feat(core): added front-end methods to handle file download (#519)
  backend/src/main/java/org/openhr/application/application/controller/ApplicationController.java
  backend/src/main/java/org/openhr/application/application/dao/ApplicationDAO.java
  backend/src/main/java/org/openhr/application/application/dao/ApplicationDAOImpl.java
  backend/src/main/java/org/openhr/application/application/facade/ApplicationFacade.java
  backend/src/main/java/org/openhr/application/application/facade/ApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/application/repository/ApplicationRepository.java
  backend/src/main/java/org/openhr/application/application/service/ApplicationService.java
  backend/src/main/java/org/openhr/application/application/service/ApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacade.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/service/my-applications.service.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.spec.ts
Due: npm run pretty, npm run google-format

feat: finished ICS download
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/service/my-applications.service.ts
Due: npm run pretty

feat: added more meaningful subject of the event
  backend/src/main/java/org/openhr/application/application/service/ApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/delegation/domain/DelegationApplication.java
  backend/src/main/java/org/openhr/application/ics/service/IcsServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/domain/LeaveApplication.java
  backend/src/main/java/org/openhr/common/controller/ExceptionHandlerController.java
  backend/src/main/java/org/openhr/common/domain/application/Application.java
  backend/src/main/java/org/openhr/common/enumeration/ApplicationType.java
  frontend/src/app/modules/core/pages/my-applications/pipe/application-type/application-type.pipe.spec.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/application-type/application-type.pipe.ts
  frontend/src/app/shared/constants/enumeration/application-type.ts
  frontend/src/app/shared/domain/application/application.ts
  frontend/src/app/shared/domain/application/delegation-application.ts
  frontend/src/app/shared/domain/application/leave-application.ts
Due: npm run pretty, npm run google-format

feat: added more meaningful subject of the event (#521)
  backend/src/main/java/org/openhr/application/application/service/ApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/delegation/domain/DelegationApplication.java
  backend/src/main/java/org/openhr/application/ics/service/IcsServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/domain/LeaveApplication.java
  backend/src/main/java/org/openhr/common/controller/ExceptionHandlerController.java
  backend/src/main/java/org/openhr/common/domain/application/Application.java
  backend/src/main/java/org/openhr/common/enumeration/ApplicationType.java
  frontend/src/app/modules/core/pages/my-applications/pipe/application-type/application-type.pipe.spec.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/application-type/application-type.pipe.ts
  frontend/src/app/shared/constants/enumeration/application-type.ts
  frontend/src/app/shared/domain/application/application.ts
  frontend/src/app/shared/domain/application/delegation-application.ts
  frontend/src/app/shared/domain/application/leave-application.ts
Due: npm run pretty, npm run google-format

fix: fixed CI issue
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/service/my-applications.service.ts
Due: npm run pretty

feat: finished ICS download (#520)
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/service/my-applications.service.ts
Due: npm run pretty

:alien: feat: 1i8n for backend
  backend/src/main/java/org/openhr/application/leaveapplication/dao/LeaveApplicationDAOImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAOImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/application/user/repository/UserRepository.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  backend/src/main/java/org/openhr/common/bean/LocaleChangeInterceptorBean.java
  backend/src/main/java/org/openhr/common/bean/LocaleResolverBean.java
  backend/src/main/java/org/openhr/configuration/WebMvcConfiguration.java
  backend/src/main/resources/messages.properties
Due: npm run google-format

chore: enable properties files for maven
  backend/pom.xml
Due: none

:alien: feat: i18n for backend (#522)
  backend/pom.xml
  backend/src/main/java/org/openhr/application/leaveapplication/dao/LeaveApplicationDAOImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAOImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/application/user/repository/UserRepository.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  backend/src/main/java/org/openhr/common/bean/LocaleChangeInterceptorBean.java
  backend/src/main/java/org/openhr/common/bean/LocaleResolverBean.java
  backend/src/main/java/org/openhr/configuration/WebMvcConfiguration.java
  backend/src/main/resources/messages.properties
Due: npm run google-format

feat: finished ics work
  backend/src/main/java/org/openhr/application/application/controller/ApplicationController.java
  backend/src/main/java/org/openhr/application/application/service/ApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/ics/service/IcsService.java
  backend/src/main/java/org/openhr/application/ics/service/IcsServiceImpl.java
  backend/src/main/resources/messages.properties
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/application-type/application-type.pipe.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/leave-application-status/application-status.pipe.ts
  frontend/src/app/shared/constants/enumeration/application-type.ts
  frontend/src/app/shared/domain/subject/subject.ts
Due: npm run pretty, npm run google-format

feat: finished ics work (#523)
  backend/src/main/java/org/openhr/application/application/controller/ApplicationController.java
  backend/src/main/java/org/openhr/application/application/service/ApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/ics/service/IcsService.java
  backend/src/main/java/org/openhr/application/ics/service/IcsServiceImpl.java
  backend/src/main/resources/messages.properties
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/application-type/application-type.pipe.ts
  frontend/src/app/modules/core/pages/my-applications/pipe/leave-application-status/application-status.pipe.ts
  frontend/src/app/shared/constants/enumeration/application-type.ts
  frontend/src/app/shared/domain/subject/subject.ts
Due: npm run pretty, npm run google-format

[wip] :sparkles: feat(core): calendar with people on leave or delegation
  frontend/.angular-cli.json
  frontend/package.json
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/shared/components/event-calendar/event-calendar.component.html
  frontend/src/app/shared/components/event-calendar/event-calendar.component.scss
  frontend/src/app/shared/components/event-calendar/event-calendar.component.spec.ts
  frontend/src/app/shared/components/event-calendar/event-calendar.component.ts
  frontend/src/style/vendor/_vendor.scss
  frontend/yarn.lock
Due: npm run pretty

:fire: refactor: removed unused footer component
  frontend/src/app/app.module.ts
  frontend/src/app/modules/landing/landing.module.ts
  frontend/src/app/shared/components/footer/footer.component.html
  frontend/src/app/shared/components/footer/footer.component.scss
  frontend/src/app/shared/components/footer/footer.component.spec.ts
  frontend/src/app/shared/components/footer/footer.component.ts
  frontend/src/style/variables/_variables.scss
Due: npm run pretty

:fire: refactor: removed unused footer component (#525)
  frontend/src/app/app.module.ts
  frontend/src/app/modules/landing/landing.module.ts
  frontend/src/app/shared/components/footer/footer.component.html
  frontend/src/app/shared/components/footer/footer.component.scss
  frontend/src/app/shared/components/footer/footer.component.spec.ts
  frontend/src/app/shared/components/footer/footer.component.ts
  frontend/src/style/variables/_variables.scss
Due: npm run pretty

:sparkles: feat(core): refresh/end session once token expired
  backend/src/main/java/org/openhr/application/authentication/controller/AuthenticationController.java
  backend/src/main/java/org/openhr/application/authentication/facade/AuthenticationFacade.java
  backend/src/main/java/org/openhr/application/authentication/facade/AuthenticationFacadeImpl.java
  backend/src/main/java/org/openhr/application/authentication/service/AuthenticationServiceImpl.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/hr/service/HrServiceImpl.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerServiceImpl.java
  backend/src/main/java/org/openhr/application/user/service/UserService.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  backend/src/main/java/org/openhr/security/SecurityConfigConstants.java
  backend/src/main/java/org/openhr/security/domain/RawAccessJwtToken.java
  backend/src/main/java/org/openhr/security/domain/RefreshToken.java
  backend/src/main/java/org/openhr/security/exception/InvalidJWT.java
  backend/src/main/java/org/openhr/security/exception/JWTExpiredException.java
  backend/src/main/java/org/openhr/security/factory/JWTTokenFactoryImpl.java
  backend/src/main/java/org/openhr/security/filter/JWTTokenAuthenticationFilter.java
  backend/src/main/java/org/openhr/security/handler/JWTAuthenticationSuccessHandler.java
  backend/src/main/java/org/openhr/security/service/TokenExtractorService.java
  backend/src/main/java/org/openhr/security/service/TokenExtractorServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/messages.properties
  backend/src/test/java/org/openhr/application/authentication/service/AuthenticationServiceTest.java
  backend/src/test/java/org/openhr/application/user/service/UserServiceTest.java
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/login-box/login-box.component.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.html
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.scss
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
  frontend/src/app/shared/services/error-resolver/error-resolver.service.ts
  frontend/src/app/shared/services/jwt/jwt-helper.service.spec.ts
  frontend/src/app/shared/services/jwt/jwt-helper.service.ts
Due: npm run pretty, npm run google-format

feat: added service for token refreshing
  frontend/src/app/shared/components/login-box/login-box.component.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
Due: npm run pretty

feat: added service for token refreshing (#527)
  frontend/src/app/shared/components/login-box/login-box.component.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
Due: npm run pretty

feat: finish
  frontend/src/app/app.module.ts
  frontend/src/app/config/system-variables.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.spec.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.ts
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/shared/components/login-box/domain/refresh-token.ts
  frontend/src/app/shared/components/login-box/login-box.component.spec.ts
  frontend/src/app/shared/components/login-box/login-box.component.ts
  frontend/src/app/shared/components/login-box/service/login.service.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.html
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.scss
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
  frontend/src/app/shared/services/jwt/jwt-helper.service.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.spec.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.ts
Due: npm run pretty

feat: finish (#528)
  frontend/src/app/app.module.ts
  frontend/src/app/config/system-variables.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.spec.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.ts
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/shared/components/login-box/domain/refresh-token.ts
  frontend/src/app/shared/components/login-box/login-box.component.spec.ts
  frontend/src/app/shared/components/login-box/login-box.component.ts
  frontend/src/app/shared/components/login-box/service/login.service.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.html
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.scss
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
  frontend/src/app/shared/services/jwt/jwt-helper.service.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.spec.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.ts
Due: npm run pretty

fixed build issues
  frontend/.angular-cli.json
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.spec.ts
  frontend/src/app/shared/components/sidenav/sidenav.component.spec.ts
  frontend/src/app/shared/components/theme-picker/domain/site-themes.ts
  frontend/src/app/shared/components/theme-picker/theme-picker.component.ts
  frontend/src/assets/themes/deeppurple-amber.scss
  frontend/src/assets/themes/indigo-pink.scss
  frontend/src/assets/themes/pink-bluegrey.scss
  frontend/src/assets/themes/purple-green.scss
  frontend/src/style/mixins/_app-theme.scss
Due: npm run pretty

:rotating_light: tests: added missing frontend tests
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
Due: npm run pretty

:construction_worker: ci: configuration of codecov
  .travis.yml
  frontend/package.json
  frontend/yarn.lock
Due: none

added token for codecov
  .travis.yml
  backend/src/main/resources/application.properties
Due: none

added jacoco
  .travis.yml
  backend/pom.xml
  frontend/package.json
  frontend/yarn.lock
Due: none

optimized cache in travis
  .travis.yml
Due: none

:construction_worker: ci: configuration of codecov (#530)
  .travis.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
Due: none

added more tests
  .codecov.yml
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/components/static-modal/static-modal.component.spec.ts
Due: npm run pretty

Path conditions:
  npm run pretty: any of: *.{js,ts}
  npm run google-format: any of: *.java
