Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run google-format

.lintstagedrc:

{
  "linters": {
    "*.{js,ts}": [
      "npm run pretty",
      "git add"
    ],
    "*.java": [
      "npm run google-format",
      "git add"
    ]
  }
}

fixed codecov
  .codecov.yml
Due: none

tests(core): added missing unit tests for HrTeamMemberService
  backend/src/main/java/org/openhr/application/hr/service/HrServiceImpl.java
  backend/src/test/java/org/openhr/application/hr/service/HrServiceTest.java
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
Due: npm run pretty, npm run google-format

chore: excluding Facade and Configuration from coverage (#596)
  .codecov.yml
Due: none

tests(core): added missing unit tests for HrTeamMemberService (#597)
  backend/src/main/java/org/openhr/application/hr/service/HrServiceImpl.java
  backend/src/test/java/org/openhr/application/hr/service/HrServiceTest.java
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
Due: npm run pretty, npm run google-format

chore: excluded irrelevant directories from jacoco report
  backend/pom.xml
Due: none

chore: excluded irrelevant directories from jacoco report (#598)
  backend/pom.xml
Due: none

fix: fixing codecov exclude paths
  .codecov.yml
Due: none

fix: fixing codecov exclude paths (#599)
  .codecov.yml
Due: none

refactor: implement ngrx architecture
  frontend/package.json
  frontend/yarn.lock
Due: none

moved dependencies from dev
  frontend/package.json
Due: none

:wheelchair: feat: added missing ARIA attributes
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.html
  frontend/src/app/modules/landing/pages/login/login.component.html
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/settings/settings.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
  frontend/src/app/shared/components/number-indicator/number-indicator.component.html
  frontend/src/app/shared/components/prompt-modal/prompt-modal.component.html
  frontend/src/app/shared/components/static-modal/static-modal.component.html
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.html
Due: npm run pretty

:wheelchair: feat: added missing ARIA attributes (#602)
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/landing/pages/login/components/login-box/login-box.component.html
  frontend/src/app/modules/landing/pages/login/login.component.html
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/settings/settings.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
  frontend/src/app/shared/components/number-indicator/number-indicator.component.html
  frontend/src/app/shared/components/prompt-modal/prompt-modal.component.html
  frontend/src/app/shared/components/static-modal/static-modal.component.html
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.html
Due: npm run pretty

fix: changed mat-iput type to text for datepickers
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
Due: npm run pretty

fix: changed mat-iput type to text for datepickers (#603)
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
Due: npm run pretty

fix: revert allowance for rejected leave application
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/resources/static/.gitignore
  backend/src/main/resources/static/.gitkeep
Due: npm run google-format

fix: revert allowance for rejected leave application (#604)
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/resources/static/.gitignore
  backend/src/main/resources/static/.gitkeep
Due: npm run google-format

fix(core): delegation application refusal error
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationService.java
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationServiceImpl.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
Due: npm run pretty, npm run google-format

fix(core): delegation application refusal error (#605)
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationService.java
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationServiceImpl.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
Due: npm run pretty, npm run google-format

fix(core): fix overlap issue for rejected leave applications
  backend/src/main/java/org/openhr/application/leaveapplication/repository/LeaveApplicationRepository.java
Due: npm run google-format

fix(core): fix overlap issue for rejected leave applications (#606)
  backend/src/main/java/org/openhr/application/leaveapplication/repository/LeaveApplicationRepository.java
Due: npm run google-format

style(core): add SCSS parser for prettier. Updated responsive font in dashboard
  .lintstagedrc
  frontend/.prettierrc
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.scss
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.scss
  frontend/src/app/modules/settings/pages/account/account.component.scss
  frontend/src/app/modules/settings/pages/admin/admin.component.scss
  frontend/src/app/shared/components/number-indicator/number-indicator.component.scss
  frontend/src/style/external/_reset.scss
  frontend/src/style/variables/_variables.scss
  frontend/src/style/vendor/_vendor.scss
  package.json
Due: none

chore: change HEX rule for stylelint
  frontend/.stylelintrc.json
Due: none

Style/master/dashboard (#607)
  .lintstagedrc
  frontend/.prettierrc
  frontend/.stylelintrc.json
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.scss
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.scss
  frontend/src/app/modules/settings/pages/account/account.component.scss
  frontend/src/app/modules/settings/pages/admin/admin.component.scss
  frontend/src/app/shared/components/number-indicator/number-indicator.component.scss
  frontend/src/style/external/_reset.scss
  frontend/src/style/variables/_variables.scss
  frontend/src/style/vendor/_vendor.scss
  package.json
Due: none

fix readme formatting
  README.md
Due: none

finish readme
  README.md
Due: none
