Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run google-format

.lintstagedrc:

{
  "linters": {
    "*.{js,ts}": [
      "npm run pretty",
      "git add"
    ],
    "*.java": [
      "npm run google-format",
      "git add"
    ]
  }
}

feat(core): improved dashboard layout (#564)
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.scss
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.spec.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
Due: npm run pretty

tests(core): added missing tests for /users
  backend/src/main/java/org/openhr/application/user/controller/UserController.java
  backend/src/test/java/org/openhr/application/user/controller/UserControllerTest.java
Due: npm run google-format

tests(core): added missing tests for UsersController (#565)
  backend/src/main/java/org/openhr/application/user/controller/UserController.java
  backend/src/test/java/org/openhr/application/user/controller/UserControllerTest.java
Due: npm run google-format

tests(core): added missing tests for UserController
  backend/src/test/java/org/openhr/application/user/controller/UserControllerTest.java
Due: npm run google-format

tests(core): added missing test for SubjectController
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
Due: npm run google-format

tests(core): added missing tests for UserController (#566)
  backend/src/test/java/org/openhr/application/user/controller/UserControllerTest.java
Due: npm run google-format

tests(core): added missing test for SubjectController (#567)
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
Due: npm run google-format

tests(core): added missing integration tests for controllers
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  backend/src/test/java/org/openhr/application/delegation/controller/DelegationApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/employee/controller/EmployeeControllerTest.java
  backend/src/test/java/org/openhr/application/employee/service/EmployeeServiceTest.java
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.spec.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
  frontend/src/app/modules/core/pages/manage-delegations/service/manage-delegations.service.ts
Due: npm run pretty, npm run google-format

tests(core): added missing integration tests for controllers (#568)
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  backend/src/test/java/org/openhr/application/delegation/controller/DelegationApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/employee/controller/EmployeeControllerTest.java
  backend/src/test/java/org/openhr/application/employee/service/EmployeeServiceTest.java
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.spec.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
  frontend/src/app/modules/core/pages/manage-delegations/service/manage-delegations.service.ts
Due: npm run pretty, npm run google-format

config: exclude configuration from code coverage reports
  backend/pom.xml
Due: none

tests(core): added missing integration tests for REST controllers
  backend/src/main/java/org/openhr/application/authentication/controller/AuthenticationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/test/java/org/openhr/application/application/ApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/authentication/controller/AuthenticationControllerTest.java
  backend/src/test/java/org/openhr/application/delegation/controller/DelegationApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/hr/controller/HrControllerTest.java
  backend/src/test/java/org/openhr/application/leaveapplication/controller/LeaveApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/manager/controller/ManagerControllerTest.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
Due: npm run google-format

tests(core): added missing integration tests for REST controllers (#570)
  backend/src/main/java/org/openhr/application/authentication/controller/AuthenticationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/test/java/org/openhr/application/application/ApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/authentication/controller/AuthenticationControllerTest.java
  backend/src/test/java/org/openhr/application/delegation/controller/DelegationApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/hr/controller/HrControllerTest.java
  backend/src/test/java/org/openhr/application/leaveapplication/controller/LeaveApplicationControllerTest.java
  backend/src/test/java/org/openhr/application/manager/controller/ManagerControllerTest.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
Due: npm run google-format

added wildmark
  backend/pom.xml
Due: none

fix: fixed issue with date-range validation
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/shared/components/date-range/date-range.component.html
  frontend/src/app/shared/components/date-range/date-range.component.spec.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
  frontend/src/app/shared/util/validators/custom-validators.ts
Due: npm run pretty

fix(avatar): fixed issue with saving email
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAO.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAOImpl.java
  backend/src/main/java/org/openhr/application/subject/dto/EmailDTO.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/application/user/dto/PasswordDTO.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
  backend/src/test/java/org/openhr/application/user/controller/UserControllerTest.java
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/modules/settings/pages/account/account.component.spec.ts
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/modules/settings/pages/account/domain/email.ts
  frontend/src/app/modules/settings/pages/account/domain/password.ts
  frontend/src/app/modules/settings/pages/account/service/account.service.ts
Due: npm run pretty, npm run google-format

fix(avatar): fixed issue with saving email (#572)
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAO.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAOImpl.java
  backend/src/main/java/org/openhr/application/subject/dto/EmailDTO.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/application/user/dto/PasswordDTO.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
  backend/src/test/java/org/openhr/application/user/controller/UserControllerTest.java
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/modules/settings/pages/account/account.component.spec.ts
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/modules/settings/pages/account/domain/email.ts
  frontend/src/app/modules/settings/pages/account/domain/password.ts
  frontend/src/app/modules/settings/pages/account/service/account.service.ts
Due: npm run pretty, npm run google-format

fix: fixed unit tests
  frontend/src/app/shared/components/date-range/date-range.component.spec.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
  frontend/src/app/shared/util/validators/custom-validators.ts
Due: npm run pretty

fix: fixed issue with date-range validation (#571)
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/shared/components/date-range/date-range.component.html
  frontend/src/app/shared/components/date-range/date-range.component.spec.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty

refactor(core): refactored personal-details form to use FormBuilder
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.spec.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.ts
Due: npm run pretty

refactor(core): refactored personal-details form to use FormBuilder (#573)
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.spec.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.ts
Due: npm run pretty

refactor: fixed issue with no gap between input elements across the forms
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: none

refactor: fixed issue with no gap between input elements across the forms (#574)
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: none

feat(settings): add config screen for managing application settigns
  backend/src/main/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationController.java
  backend/src/main/java/org/openhr/application/adminconfiguration/dao/AdminConfigurationDAO.java
  backend/src/main/java/org/openhr/application/adminconfiguration/dao/AdminConfigurationDAOImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/domain/AllowanceSettings.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacade.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacadeImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/repository/AdminConfigurationRepository.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationService.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/test/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationControllerTest.java
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.html
  frontend/src/app/modules/settings/pages/admin/admin.component.scss
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.scss
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/modules/settings/pages/admin/domain/allowance-settings.ts
  frontend/src/app/modules/settings/pages/admin/service/admin.service.spec.ts
  frontend/src/app/modules/settings/pages/admin/service/admin.service.ts
  frontend/src/app/modules/settings/settings.module.ts
  frontend/src/app/shared/components/avatar/avatar.component.html
Due: npm run pretty, npm run google-format

added method to update admin configuration
  backend/src/main/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationController.java
  backend/src/main/java/org/openhr/application/adminconfiguration/dao/AdminConfigurationDAO.java
  backend/src/main/java/org/openhr/application/adminconfiguration/dao/AdminConfigurationDAOImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacade.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacadeImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/repository/AdminConfigurationRepository.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationService.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/test/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationControllerTest.java
Due: npm run google-format

ci: simplifying codecov task
  .travis.yml
Due: none

feat: added working page
  backend/src/main/java/org/openhr/application/adminconfiguration/domain/AllowanceSettings.java
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.scss
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/modules/settings/settings.module.ts
Due: npm run pretty, npm run google-format

feat: added working page (#577)
  backend/src/main/java/org/openhr/application/adminconfiguration/domain/AllowanceSettings.java
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.scss
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/modules/settings/settings.module.ts
Due: npm run pretty, npm run google-format

fix(core): fixed general issues:
  backend/src/main/java/org/openhr/application/leaveapplication/repository/LeaveApplicationRepository.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/repository/SubjectRepositoryTest.java
  backend/src/test/java/org/openhr/processes/leaveapplication/LeaveApplicationProcessTest.java
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.spec.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/modules/settings/pages/account/account.component.scss
  frontend/src/app/modules/settings/pages/account/account.component.spec.ts
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty, npm run google-format

fixed unit test
  backend/src/test/java/org/openhr/application/subject/repository/SubjectRepositoryTest.java
Due: npm run google-format

fix(core): fixed general issues (#578)
  backend/src/main/java/org/openhr/application/leaveapplication/repository/LeaveApplicationRepository.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/repository/SubjectRepositoryTest.java
  backend/src/test/java/org/openhr/processes/leaveapplication/LeaveApplicationProcessTest.java
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.spec.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/modules/settings/pages/account/account.component.scss
  frontend/src/app/modules/settings/pages/account/account.component.spec.ts
  frontend/src/app/modules/settings/pages/account/account.component.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty, npm run google-format

finished form
  backend/pom.xml
  backend/src/main/java/org/openhr/application/adminconfiguration/domain/AllowanceSettings.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/resources/data.sql
  frontend/src/app/modules/settings/pages/admin/admin.component.html
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/modules/settings/pages/admin/service/admin.service.ts
Due: npm run pretty, npm run google-format

finished form (#579)
  backend/pom.xml
  backend/src/main/java/org/openhr/application/adminconfiguration/domain/AllowanceSettings.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/resources/data.sql
  frontend/src/app/modules/settings/pages/admin/admin.component.html
  frontend/src/app/modules/settings/pages/admin/admin.component.spec.ts
  frontend/src/app/modules/settings/pages/admin/admin.component.ts
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/modules/settings/pages/admin/service/admin.service.ts
Due: npm run pretty, npm run google-format

implemented quartz
  backend/src/main/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationController.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacade.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacadeImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationService.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/repository/AllowanceRepository.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceService.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/common/factory/AutowiringSpringQuartzFactory.java
  backend/src/main/resources/messages.properties
  backend/src/test/java/org/openhr/application/allowance/repository/AllowanceRepositoryTest.java
  backend/src/test/java/org/openhr/application/allowance/service/AllowanceServiceTest.java
  backend/src/test/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceTest.java
  backend/src/test/java/org/openhr/processes/leaveapplication/LeaveApplicationProcessTest.java
Due: npm run google-format

fix scheduler
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
  backend/src/test/java/org/openhr/application/allowance/service/AllowanceServiceTest.java
Due: npm run google-format

implemented quartz (#580)
  backend/src/main/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationController.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacade.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacadeImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationService.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/repository/AllowanceRepository.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceService.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerService.java
  backend/src/main/java/org/openhr/application/scheduler/service/SchedulerServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/common/factory/AutowiringSpringQuartzFactory.java
  backend/src/main/resources/messages.properties
  backend/src/test/java/org/openhr/application/allowance/repository/AllowanceRepositoryTest.java
  backend/src/test/java/org/openhr/application/allowance/service/AllowanceServiceTest.java
  backend/src/test/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceTest.java
  backend/src/test/java/org/openhr/processes/leaveapplication/LeaveApplicationProcessTest.java
Due: npm run google-format

feat: added ability to carry over allowance
  backend/src/main/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationController.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacade.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacadeImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationService.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/repository/AllowanceRepository.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceService.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/common/domain/subject/HrInformation.java
  backend/src/main/resources/messages.properties
  backend/src/test/java/org/openhr/application/allowance/repository/AllowanceRepositoryTest.java
  backend/src/test/java/org/openhr/application/allowance/service/AllowanceServiceTest.java
  backend/src/test/java/org/openhr/application/leaveapplication/dao/LeaveApplicationDAOTest.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
Due: npm run google-format

fixed test
  backend/src/test/java/org/openhr/application/subject/dao/SubjectDAOTest.java
Due: npm run google-format

feat: added ability to carry over allowance (#581)
  backend/src/main/java/org/openhr/application/adminconfiguration/controller/AdminConfigurationController.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacade.java
  backend/src/main/java/org/openhr/application/adminconfiguration/facade/AdminConfigurationFacadeImpl.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationService.java
  backend/src/main/java/org/openhr/application/adminconfiguration/service/AdminConfigurationServiceImpl.java
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/repository/AllowanceRepository.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceService.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  backend/src/main/java/org/openhr/common/domain/subject/HrInformation.java
  backend/src/main/resources/messages.properties
  backend/src/test/java/org/openhr/application/allowance/repository/AllowanceRepositoryTest.java
  backend/src/test/java/org/openhr/application/allowance/service/AllowanceServiceTest.java
  backend/src/test/java/org/openhr/application/leaveapplication/dao/LeaveApplicationDAOTest.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
  backend/src/test/java/org/openhr/application/subject/dao/SubjectDAOTest.java
Due: npm run google-format

feat: added frontend validators
  backend/src/main/java/org/openhr/application/allowance/job/ResetAllowanceJob.java
  backend/src/main/java/org/openhr/application/allowance/service/AllowanceServiceImpl.java
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.html
  frontend/src/app/modules/settings/pages/admin/components/allowance-settings/allowance-settings.component.ts
  frontend/src/app/shared/util/matchers/parent-error-state-matcher.ts
Due: npm run pretty, npm run google-format

fix(shared): fixed NUMBERS_ONLY validator to allow negative numbers
  frontend/src/app/shared/constants/regexps/regular-expressions.spec.ts
  frontend/src/app/shared/constants/regexps/regular-expressions.ts
Due: npm run pretty
