Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

.lintstagedrc:

{
  "linters": {
    "*.{js,ts}": [
      "npm run pretty",
      "git add"
    ],
    "*.java": [
      "bash ./mvnw com.coveo:fmt-maven-plugin:format"
    ]
  }
}

refactor: refactored CSS to match linter settings (#479)
  frontend/src/index.html
Due: none

chore: added wrapper with jar for Maven
  .gitignore
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

fix: fixed lintstaged maven location
  .lintstagedrc
Due: none

fix: fixed lintstaged maven location (#482)
  .lintstagedrc
Due: none

chore: added wrapper with jar for Maven (#481)
  .gitignore
  .lintstagedrc
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

feat: added mailing for delegation process
  backend/src/main/java/org/openhr/application/delegation/command/DelegationApplicationCommandImpl.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  backend/src/test/java/org/openhr/processes/delegationapplication/DelegationApplicationProcessTest.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

chore: added missing lint-staged commant
  .lintstagedrc
Due: none

feat: added mailing for delegation process (#483)
  backend/src/main/java/org/openhr/application/delegation/command/DelegationApplicationCommandImpl.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  backend/src/test/java/org/openhr/processes/delegationapplication/DelegationApplicationProcessTest.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

:sparkles: feat(core): add email notifications for processes (#475)
  backend/pom.xml
  backend/src/main/java/org/openhr/application/delegation/command/DelegationApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/user/controller/UserController.java
  backend/src/main/java/org/openhr/application/user/dao/UserDAO.java
  backend/src/main/java/org/openhr/application/user/dao/UserDAOImpl.java
  backend/src/main/java/org/openhr/application/user/domain/User.java
  backend/src/main/java/org/openhr/application/user/facade/UserFacade.java
  backend/src/main/java/org/openhr/application/user/facade/UserFacadeImpl.java
  backend/src/main/java/org/openhr/application/user/repository/UserRepository.java
  backend/src/main/java/org/openhr/application/user/service/UserService.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  backend/src/main/java/org/openhr/common/bean/MailSender.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application.properties
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  backend/src/main/resources/processes/leave-application.bpmn20.xml
  backend/src/test/java/org/openhr/application/user/controller/UserControllerTest.java
  backend/src/test/java/org/openhr/application/user/service/UserServiceTest.java
  backend/src/test/java/org/openhr/processes/delegationapplication/DelegationApplicationProcessTest.java
  backend/src/test/java/org/openhr/processes/leaveapplication/LeaveApplicationProcessTest.java
  frontend/src/app/modules/settings/pages/settings/domain/user.ts
  frontend/src/app/modules/settings/pages/settings/service/settings.service.spec.ts
  frontend/src/app/modules/settings/pages/settings/service/settings.service.ts
  frontend/src/app/modules/settings/pages/settings/settings.component.html
  frontend/src/app/modules/settings/pages/settings/settings.component.spec.ts
  frontend/src/app/modules/settings/pages/settings/settings.component.ts
  frontend/src/app/modules/settings/settings.module.ts
  frontend/src/app/shared/domain/user/user-role.ts
  frontend/src/assets/.gitkeep
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

:card_index: chore: removing unecessary git files
  .gitattributes
  .gitconfig
Due: none

:wrench: feat: Progressive Web Application (#455)
  frontend/.angular-cli.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/assets/icons/android-chrome-192x192.png
  frontend/src/assets/icons/android-chrome-512x512.png
  frontend/src/assets/icons/apple-touch-icon.png
  frontend/src/assets/icons/favicon-16x16.png
  frontend/src/assets/icons/favicon-32x32.png
  frontend/src/assets/icons/mstile-150x150.png
  frontend/src/assets/icons/safari-pinned-tab.svg
  frontend/src/browserconfig.xml
  frontend/src/favicon.ico
  frontend/src/index.html
  frontend/src/manifest.json
  frontend/src/ngsw-config.json
  frontend/tools/run-pwa.sh
  frontend/yarn.lock
Due: npm run pretty

:card_index: chore: removing unecessary git files (#485)
  .gitattributes
  .gitconfig
Due: none

:wrench: feat(shared): added option to show/hide date range description/guidance
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty

fix(shared): fixed linter issue
  frontend/src/app/shared/components/date-range/date-range.component.spec.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty

:ambulance: fix(core): user roles not being saved - propagation issue
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/user/domain/User.java
  backend/src/main/java/org/openhr/application/user/domain/UserRole.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

:wrench: feat(shared): added option to show/hide date range description/guidance (#486)
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
  frontend/src/app/shared/components/date-range/date-range.component.spec.ts
  frontend/src/app/shared/components/date-range/date-range.component.ts
Due: npm run pretty

:card_index: ci: ignore not relevant files for CI
  .travis.yml
  backend/pom.xml
Due: none

:ambulance: fix(core): user roles not being saved - propagation issue (#487)
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/user/domain/User.java
  backend/src/main/java/org/openhr/application/user/domain/UserRole.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

fix: reverted travis fix
  .travis.yml
Due: none

:wrench: refactor(core): set subject's supervisor
  backend/src/main/java/org/openhr/application/manager/repository/ManagerRepository.java
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

:card_index: chore: pom update (#488)
  backend/pom.xml
Due: none

fix: fixed shell script
  frontend/tools/run-pwa.sh
  package.json
  tools/google-format.sh
Due: none

:wrench: fix: fixed shell script (#490)
  frontend/tools/run-pwa.sh
  package.json
  tools/google-format.sh
Due: none

feat: supervisors package
  backend/src/main/java/org/openhr/application/supervisor/controller/SupervisorController.java
  backend/src/main/java/org/openhr/application/supervisor/facade/SupervisorFacade.java
  backend/src/main/java/org/openhr/application/supervisor/facade/SupervisorFacadeImpl.java
  backend/src/main/java/org/openhr/application/supervisor/repository/SupervisorRepository.java
  backend/src/main/java/org/openhr/application/supervisor/service/SupervisorService.java
  backend/src/main/java/org/openhr/application/supervisor/service/SupervisorServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

lint: fixed linting issues
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

refactor: removed obsolete method
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

refactor: removed roboto font in splash screen
  frontend/src/index.html
Due: none

fix: fixed CI errors
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

refactor: removed roboto font in splash screen (#492)
  frontend/src/index.html
Due: none

update subject's supervisor
  backend/src/main/java/org/openhr/application/hr/domain/HrTeamMember.java
  backend/src/main/java/org/openhr/application/manager/domain/Manager.java
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAO.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAOImpl.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.html
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/shared/domain/subject/hr-team-member.ts
  frontend/src/app/shared/services/subject/subject-details.service.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

wip update subject's supervisor (#493)
  backend/src/main/java/org/openhr/application/hr/domain/HrTeamMember.java
  backend/src/main/java/org/openhr/application/manager/domain/Manager.java
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAO.java
  backend/src/main/java/org/openhr/application/subject/dao/SubjectDAOImpl.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.html
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/shared/domain/subject/hr-team-member.ts
  frontend/src/app/shared/services/subject/subject-details.service.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

fetch all employees
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacade.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacadeImpl.java
  backend/src/main/java/org/openhr/application/employee/repository/EmployeeRepository.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeService.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/hr/repository/HrRepository.java
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

feat: ability to fetch all employees
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacade.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacadeImpl.java
  backend/src/main/java/org/openhr/application/employee/repository/EmployeeRepository.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeService.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/shared/services/employee/employee.service.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

fix: fixed linting issues
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format

feat: ability to fetch all employees (#495)
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacade.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacadeImpl.java
  backend/src/main/java/org/openhr/application/employee/repository/EmployeeRepository.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeService.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/shared/services/employee/employee.service.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

:wrench: refactor(core): list all subjects to manage (#489)
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacade.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacadeImpl.java
  backend/src/main/java/org/openhr/application/employee/repository/EmployeeRepository.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeService.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/manager/repository/ManagerRepository.java
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/controller/SubjectControllerTest.java
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/shared/services/employee/employee.service.ts
Due: npm run pretty, bash ./mvnw com.coveo:fmt-maven-plugin:format

:wrench: fix: issue with sending emails
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommand.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/resources/application.properties
Due: bash ./mvnw com.coveo:fmt-maven-plugin:format
