Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run google-format

:rotating_light: tests: added missing frontend tests (#529)
  .codecov.yml
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
  frontend/src/app/shared/components/static-modal/static-modal.component.spec.ts
Due: npm run pretty

:white_check_mark: tests(core): added unit tests for delegation and manage delegation components
  frontend/src/app/modules/core/pages/delegation/delegation.component.spec.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.spec.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
Due: npm run pretty

:white_check_mark: tests(core): added unit tests for delegation and manage delegation components (#531)
  frontend/src/app/modules/core/pages/delegation/delegation.component.spec.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.spec.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
Due: npm run pretty

:fire: refactor: removed CORS settings
  backend/src/main/java/org/openhr/configuration/SinglePageAppResourceResolver.java
  backend/src/main/java/org/openhr/configuration/WebMvcConfiguration.java
  backend/src/test/resources/application.properties
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
Due: npm run pretty, npm run google-format

added missing final keywords
  backend/src/main/java/org/openhr/configuration/SinglePageAppResourceResolver.java
  backend/src/main/java/org/openhr/configuration/WebMvcConfiguration.java
Due: npm run google-format

:fire: refactor: removed CORS settings (#532)
  backend/src/main/java/org/openhr/configuration/SinglePageAppResourceResolver.java
  backend/src/main/java/org/openhr/configuration/WebMvcConfiguration.java
  backend/src/test/resources/application.properties
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
Due: npm run pretty, npm run google-format

chore: added first user on startup
  backend/src/main/java/org/openhr/common/domain/subject/Subject.java
  backend/src/main/resources/data.sql
Due: npm run google-format

chore: added first user on startup (#533)
  backend/src/main/java/org/openhr/common/domain/subject/Subject.java
  backend/src/main/resources/data.sql
Due: npm run google-format

fix: fixed issue with inserting initial data
  backend/src/main/resources/data.sql
Due: none

fix: fixed issue with inserting initial data (#534)
  backend/src/main/resources/data.sql
Due: none

:wrench: fix: non-closeable expiration notification
  frontend/src/app/shared/services/token-observer/token-observer.service.ts
Due: npm run pretty

:sparkles: feat(core): add confirmation before rejecting leave application
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacade.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/common/domain/application/Application.java
  backend/src/main/java/org/openhr/common/domain/process/TaskDefinition.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application.properties
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.ts
  frontend/src/app/shared/components/input-modal/input-modal.component.html
  frontend/src/app/shared/components/input-modal/input-modal.component.scss
  frontend/src/app/shared/components/input-modal/input-modal.component.spec.ts
  frontend/src/app/shared/components/input-modal/input-modal.component.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/domain/application/application.ts
Due: npm run pretty, npm run google-format

fix
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.html
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.ts
Due: npm run pretty

:wrench: fix: non-closeable expiration notification (#535)
  frontend/src/app/shared/components/token-expiration-modal/service/token-expiration.service.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.html
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.spec.ts
  frontend/src/app/shared/components/token-expiration-modal/token-expiration-modal.component.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.ts
Due: npm run pretty

:sparkles: feat(core): add confirmation before rejecting leave application (#536)
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacade.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/common/domain/application/Application.java
  backend/src/main/java/org/openhr/common/domain/process/TaskDefinition.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application.properties
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/manage-leave-applications.component.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.ts
  frontend/src/app/shared/components/input-modal/input-modal.component.html
  frontend/src/app/shared/components/input-modal/input-modal.component.scss
  frontend/src/app/shared/components/input-modal/input-modal.component.spec.ts
  frontend/src/app/shared/components/input-modal/input-modal.component.ts
  frontend/src/app/shared/domain/application/application.ts
Due: npm run pretty, npm run google-format

heroku deployment
  .travis.yml
  package.json
  tools/deploy.sh
Due: none

fix
  .travis.yml
  backend/src/main/resources/static/.gitignore
  backend/src/main/resources/static/.gitkeep
  tools/deploy.sh
Due: none

procfile
  .travis.yml
  Procfile
Due: none

WIP: deploy
  backend/pom.xml
  backend/src/main/java/org/openhr/configuration/DatabaseConfigurationDev.java
  backend/src/main/java/org/openhr/configuration/DatabaseConfigurationProd.java
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-production.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/banner.txt
  backend/src/main/resources/static/.gitignore
  backend/src/main/resources/static/.gitkeep
  frontend/src/app/config/system-variables.ts
  package.json
  tools/deploy-dev.sh
  tools/run-app.sh
Due: npm run pretty, npm run google-format

fixing script
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  tools/deploy-dev.sh
Due: npm run google-format

ttt
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-production.properties
  frontend/package.json
  frontend/proxy.conf.json
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/config/system-variables.ts
Due: npm run pretty, npm run google-format

f
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-production.properties
  frontend/package.json
  frontend/proxy.conf.json
  frontend/src/app/config/system-variables.ts
  package.json
  tools/deploy.sh
Due: npm run pretty, npm run google-format

finish
  .travis.yml
Due: none

fix
  backend/src/main/java/org/openhr/configuration/DatabaseConfigurationProd.java
  backend/src/test/resources/application-dev.properties
Due: npm run google-format

:rocket: chore: spring boot profiles & deploy script (#538)
  .travis.yml
  backend/pom.xml
  backend/src/main/java/org/openhr/configuration/DatabaseConfigurationDev.java
  backend/src/main/java/org/openhr/configuration/DatabaseConfigurationProd.java
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-production.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/banner.txt
  backend/src/main/resources/static/.gitignore
  backend/src/main/resources/static/.gitkeep
  backend/src/test/resources/application-dev.properties
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/config/system-variables.ts
  package.json
  tools/deploy.sh
  tools/run-app.sh
Due: npm run pretty, npm run google-format

tests: added missing unit tests
  .prettierignore
  frontend/src/app/modules/settings/pages/settings/settings.component.spec.ts
  frontend/src/app/shared/services/jwt/jwt-helper.service.spec.ts
  frontend/src/app/shared/util/helpers/object-helper.spec.ts
Due: npm run pretty

tests: added missing unit tests (#539)
  .prettierignore
  frontend/src/app/modules/settings/pages/settings/settings.component.spec.ts
  frontend/src/app/shared/services/jwt/jwt-helper.service.spec.ts
  frontend/src/app/shared/util/helpers/object-helper.spec.ts
Due: npm run pretty

fix(core): fixed issue with validation left leave allowance
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/service/SubjectServiceTest.java
Due: npm run google-format

fix(core): fixed issue with validation left leave allowance (#540)
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/test/java/org/openhr/application/subject/service/SubjectServiceTest.java
Due: npm run google-format

feat(core): added validation methods
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacade.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacadeImpl.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeService.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/hr/controller/HrController.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacade.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacadeImpl.java
  backend/src/main/java/org/openhr/application/hr/service/HrService.java
  backend/src/main/java/org/openhr/application/hr/service/HrServiceImpl.java
  backend/src/main/java/org/openhr/application/manager/controller/ManagerController.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacade.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacadeImpl.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerService.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerServiceImpl.java
  backend/src/main/resources/messages.properties
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
Due: npm run google-format

feat(core): added validation methods (#541)
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacade.java
  backend/src/main/java/org/openhr/application/employee/facade/EmployeeFacadeImpl.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeService.java
  backend/src/main/java/org/openhr/application/employee/service/EmployeeServiceImpl.java
  backend/src/main/java/org/openhr/application/hr/controller/HrController.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacade.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacadeImpl.java
  backend/src/main/java/org/openhr/application/hr/service/HrService.java
  backend/src/main/java/org/openhr/application/hr/service/HrServiceImpl.java
  backend/src/main/java/org/openhr/application/manager/controller/ManagerController.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacade.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacadeImpl.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerService.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerServiceImpl.java
  backend/src/main/resources/messages.properties
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.html
Due: npm run google-format

:wrench: fix(core): fixed front-end bugs
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.spec.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
Due: npm run pretty

:wrench: fix(shared): non-closeable refresh token modal
  frontend/src/app/shared/services/jwt/jwt.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.ts
Due: npm run pretty

:wrench: fix(core): fixed issue with icons not aligning to righ t side
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.scss
Due: none

:wrench: fix(core): fixed front-end bugs (#542)
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.spec.ts
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
Due: npm run pretty

:wrench: fix(shared): non-closeable refresh token modal (#543)
  frontend/src/app/shared/services/jwt/jwt.ts
  frontend/src/app/shared/services/token-observer/token-observer.service.ts
Due: npm run pretty

:green_heart: ci: codecov should not fail minor code coverage slips
  .codecov.yml
Due: none

ci: added MD linter, enabled all available linters
  .codeclimate.yml
  .mdlrc
Due: none

:wrench: fix(core): fixed issue with icons not aligning to righ t side (#544)
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.scss
Due: none

:green_heart: ci: codecov should not fail minor code coverage slips (#545)
  .codecov.yml
Due: none

Path conditions:
  npm run pretty: any of: *.{js,ts}
  npm run google-format: any of: *.java
