Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run google-format

:wrench: fix: issue with sending emails (#496)
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommand.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/resources/application.properties
Due: npm run google-format

:wrench: fixed issue with saving my-details for Managers and HR
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.spec.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.ts
Due: npm run pretty

:sparkles: feat: hide ratio dashboard widget based on role
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.html
Due: npm run pretty

:sparkles: feat: workers screen
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/employees/domain/employee-data-object.ts
  frontend/src/app/modules/core/pages/employees/employees.component.ts
  frontend/src/app/modules/core/pages/employees/service/employees.service.spec.ts
  frontend/src/app/modules/core/pages/employees/service/employees.service.ts
  frontend/src/app/modules/core/pages/workers/domain/worker-data-object.ts
  frontend/src/app/modules/core/pages/workers/worker-data.ts
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.scss
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
Due: npm run pretty

:wrench: fixed issue with saving my-details for Managers and HR (#497)
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.spec.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.ts
Due: npm run pretty

:sparkles: feat: hide ratio dashboard widget based on role (#498)
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.html
Due: npm run pretty

:wrench: fix: fixed amend delegation feature
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  backend/src/main/java/org/openhr/application/delegation/facade/DelegationApplicationFacade.java
  backend/src/main/java/org/openhr/application/delegation/facade/DelegationApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationService.java
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationServiceImpl.java
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  backend/src/test/java/org/openhr/processes/delegationapplication/DelegationApplicationProcessTest.java
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/delegation/service/delegation.service.ts
Due: npm run pretty, npm run google-format

:wrench: fix: fixed amend delegation feature (#500)
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  backend/src/main/java/org/openhr/application/delegation/facade/DelegationApplicationFacade.java
  backend/src/main/java/org/openhr/application/delegation/facade/DelegationApplicationFacadeImpl.java
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationService.java
  backend/src/main/java/org/openhr/application/delegation/service/DelegationApplicationServiceImpl.java
  backend/src/main/java/org/openhr/configuration/WebSecurityConfiguration.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  backend/src/test/java/org/openhr/processes/delegationapplication/DelegationApplicationProcessTest.java
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/delegation/service/delegation.service.ts
Due: npm run pretty, npm run google-format

:sparkles: feat: total expenditures for delegations
  backend/src/main/java/org/openhr/application/dashboard/controller/DashboardController.java
  backend/src/main/java/org/openhr/application/dashboard/dto/DelegationExpenditureDTO.java
  backend/src/main/java/org/openhr/application/dashboard/facade/DashboardFacade.java
  backend/src/main/java/org/openhr/application/dashboard/facade/DashboardFacadeImpl.java
  backend/src/main/java/org/openhr/application/dashboard/repository/DashboardRepository.java
  backend/src/main/java/org/openhr/application/dashboard/service/DashboardService.java
  backend/src/main/java/org/openhr/application/dashboard/service/DashboardServiceImpl.java
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/dashboard/domain/total-expenditure.ts
  frontend/src/app/modules/core/pages/dashboard/service/dashboard.service.ts
Due: npm run pretty, npm run google-format

fix: lint issue
  frontend/src/app/modules/core/pages/dashboard/service/dashboard.service.ts
Due: npm run pretty

:sparkles: feat: total expenditures for delegations (#501)
  backend/src/main/java/org/openhr/application/dashboard/controller/DashboardController.java
  backend/src/main/java/org/openhr/application/dashboard/dto/DelegationExpenditureDTO.java
  backend/src/main/java/org/openhr/application/dashboard/facade/DashboardFacade.java
  backend/src/main/java/org/openhr/application/dashboard/facade/DashboardFacadeImpl.java
  backend/src/main/java/org/openhr/application/dashboard/repository/DashboardRepository.java
  backend/src/main/java/org/openhr/application/dashboard/service/DashboardService.java
  backend/src/main/java/org/openhr/application/dashboard/service/DashboardServiceImpl.java
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/dashboard/domain/total-expenditure.ts
  frontend/src/app/modules/core/pages/dashboard/service/dashboard.service.ts
Due: npm run pretty, npm run google-format

:sparkles: feat: add workers screen
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/dto/LightweightSubjectDTO.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.spec.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.spec.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.ts
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/employees/domain/employee-data-object.ts
  frontend/src/app/modules/core/pages/employees/employee-data.ts
  frontend/src/app/modules/core/pages/employees/employees.component.spec.ts
  frontend/src/app/modules/core/pages/employees/employees.component.ts
  frontend/src/app/modules/core/pages/employees/service/employees.service.ts
  frontend/src/app/modules/core/pages/workers/service/workers.service.spec.ts
  frontend/src/app/modules/core/pages/workers/service/workers.service.ts
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.scss
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
  frontend/src/app/shared/components/avatar/avatar.component.spec.ts
  frontend/src/app/shared/components/avatar/avatar.component.ts
  frontend/src/app/shared/components/sidenav/sidenav.component.spec.ts
  frontend/src/app/shared/components/sidenav/sidenav.component.ts
  frontend/src/app/shared/domain/subject/hr-team-member.ts
  frontend/src/app/shared/domain/subject/lightweight-subject.ts
  frontend/src/app/shared/domain/subject/manager.ts
Due: npm run pretty, npm run google-format

fix: fixed workers table
  frontend/src/app/modules/core/pages/workers/service/workers.service.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
Due: npm run pretty

fix: fixed workers table (#503)
  frontend/src/app/modules/core/pages/workers/service/workers.service.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
Due: npm run pretty

:sparkles: feat(core): add workers screen (#502)
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/dto/LightweightSubjectDTO.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.spec.ts
  frontend/src/app/modules/core/core-wrapper/core-wrapper.component.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.spec.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.ts
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/employees/domain/employee-data-object.ts
  frontend/src/app/modules/core/pages/employees/employee-data.ts
  frontend/src/app/modules/core/pages/employees/employees.component.spec.ts
  frontend/src/app/modules/core/pages/employees/employees.component.ts
  frontend/src/app/modules/core/pages/employees/service/employees.service.ts
  frontend/src/app/modules/core/pages/workers/service/workers.service.spec.ts
  frontend/src/app/modules/core/pages/workers/service/workers.service.ts
  frontend/src/app/modules/core/pages/workers/workers.component.html
  frontend/src/app/modules/core/pages/workers/workers.component.scss
  frontend/src/app/modules/core/pages/workers/workers.component.spec.ts
  frontend/src/app/modules/core/pages/workers/workers.component.ts
  frontend/src/app/shared/components/avatar/avatar.component.spec.ts
  frontend/src/app/shared/components/avatar/avatar.component.ts
  frontend/src/app/shared/components/sidenav/sidenav.component.spec.ts
  frontend/src/app/shared/components/sidenav/sidenav.component.ts
  frontend/src/app/shared/domain/subject/hr-team-member.ts
  frontend/src/app/shared/domain/subject/lightweight-subject.ts
  frontend/src/app/shared/domain/subject/manager.ts
Due: npm run pretty, npm run google-format

:wrench: fix(core): fixed issue with undefined data in dashboard's widgets
  frontend/src/app/modules/core/pages/dashboard/constants/chart-config.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/dashboard/domain/chart-data.ts
Due: npm run pretty

:sparkles: feat: add employee page
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/shared/domain/subject/subject.ts
Due: npm run pretty

fix: fixed CI issue
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
  frontend/src/app/modules/core/pages/dashboard/domain/chart-data.ts
Due: npm run pretty

:wrench: fix(core): fixed issue with undefined data in dashboard's widgets (#504)
  frontend/src/app/modules/core/pages/dashboard/constants/chart-config.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
Due: npm run pretty

refactor: refactoring add-worker page
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/components/date-range/service/date-range.service.spec.ts
  frontend/src/app/shared/components/date-range/service/date-range.service.ts
  frontend/src/app/shared/domain/register/register-details.ts
  frontend/src/app/shared/services/employee/employee.service.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.spec.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
  frontend/src/app/shared/services/subject/subject-details.service.ts
Due: npm run pretty

fix: fixed template
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/components/login-box/login-box.component.spec.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.spec.ts
  frontend/src/app/shared/services/subject/subject-details.service.spec.ts
  frontend/src/browserconfig.xml
Due: npm run pretty

fix: fixed CI issue
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
Due: none

fix: fixed template (#506)
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/components/login-box/login-box.component.spec.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.spec.ts
  frontend/src/app/shared/services/subject/subject-details.service.spec.ts
  frontend/src/browserconfig.xml
Due: npm run pretty

feat: added missign properties in the form
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
Due: npm run pretty

fix: fixed CI error
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
Due: npm run pretty

fix: fixed ci error
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
Due: npm run pretty

feat: added missign properties in the form (#507)
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
Due: npm run pretty

feat: polished the form
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.scss
  frontend/src/style/variables/_variables.scss
Due: none

feat: polished the form (#508)
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.scss
  frontend/src/style/variables/_variables.scss
Due: none

feat: finished form
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/util/helpers/object-helper.ts
  frontend/src/app/shared/util/validators/custom-validators.ts
Due: npm run pretty

feat: finished form (#509)
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/util/helpers/object-helper.ts
  frontend/src/app/shared/util/validators/custom-validators.ts
Due: npm run pretty

:sparkles: feat: add employee page (#505)
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.scss
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/shared/components/date-range/service/date-range.service.spec.ts
  frontend/src/app/shared/components/date-range/service/date-range.service.ts
  frontend/src/app/shared/components/login-box/login-box.component.spec.ts
  frontend/src/app/shared/domain/register/register-details.ts
  frontend/src/app/shared/domain/subject/subject.ts
  frontend/src/app/shared/services/employee/employee.service.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.spec.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
  frontend/src/app/shared/services/subject/subject-details.service.spec.ts
  frontend/src/app/shared/services/subject/subject-details.service.ts
  frontend/src/app/shared/util/helpers/object-helper.ts
  frontend/src/app/shared/util/validators/custom-validators.ts
  frontend/src/browserconfig.xml
  frontend/src/style/variables/_variables.scss
Due: npm run pretty

:wrench: fix: fixed bugs with delegation page
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.spec.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/delegation/domain/delegation-application.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.spec.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/shared/domain/application/application.ts
  frontend/src/app/shared/util/validators/custom-validators.ts
Due: npm run pretty, npm run google-format

:wrench: fix: fixed bugs with delegation page (#510)
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/delegation/delegation.component.spec.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.ts
  frontend/src/app/modules/core/pages/delegation/domain/delegation-application.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.spec.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/shared/domain/application/application.ts
  frontend/src/app/shared/util/validators/custom-validators.ts
Due: npm run pretty, npm run google-format

docs: updated documentation for application processes
  docs/processes/delegation-application.jpg
  docs/processes/leave-application.jpg
Due: none

:wrench: fix: fixed manage-delegations table
  backend/src/main/java/org/openhr/application/delegation/repository/DelegationApplicationRepository.java
  backend/src/main/java/org/openhr/common/domain/application/Application.java
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.html
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
  frontend/src/app/shared/domain/application/application.ts
Due: npm run pretty, npm run google-format

:wrench: fix: fixed issue with sending emails
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommand.java
  backend/src/main/java/org/openhr/application/leaveapplication/command/LeaveApplicationCommandImpl.java
  backend/src/main/java/org/openhr/application/leaveapplication/facade/LeaveApplicationFacadeImpl.java
  backend/src/main/resources/processes/delegation-application.bpmn20.xml
  backend/src/main/resources/processes/leave-application.bpmn20.xml
Due: npm run google-format

refactor: add Angular Interceptor
  frontend/src/app/app.module.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.spec.ts
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.ts
  frontend/src/app/modules/core/pages/dashboard/service/dashboard.service.ts
  frontend/src/app/modules/core/pages/delegation/service/delegation.service.ts
  frontend/src/app/modules/core/pages/leave-application/service/leave-application.service.ts
  frontend/src/app/modules/core/pages/manage-delegations/service/manage-delegations.service.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.spec.ts
  frontend/src/app/modules/core/pages/manage-leave-applications/service/manage-leave-applications.service.ts
  frontend/src/app/modules/core/pages/my-applications/my-applications.component.ts
  frontend/src/app/modules/core/pages/my-applications/service/my-applications.service.ts
  frontend/src/app/modules/core/pages/personal-details/service/personal-details.service.ts
  frontend/src/app/modules/core/pages/workers/service/workers.service.ts
  frontend/src/app/modules/settings/pages/account/service/account.service.ts
  frontend/src/app/modules/settings/pages/settings/service/settings.service.ts
  frontend/src/app/shared/components/date-range/service/date-range.service.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.spec.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.ts
  frontend/src/app/shared/services/employee/employee.service.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
  frontend/src/app/shared/services/subject/subject-details.service.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.spec.ts
  frontend/src/app/shared/services/token-interceptor/token-interceptor.service.ts
Due: npm run pretty

fix: fixed CI issues
  backend/src/test/java/org/openhr/processes/delegationapplication/DelegationApplicationProcessTest.java
  backend/src/test/java/org/openhr/processes/leaveapplication/LeaveApplicationProcessTest.java
Due: npm run google-format

:wrench: fix: fixed manage-delegations table (#512)
  backend/src/main/java/org/openhr/application/delegation/repository/DelegationApplicationRepository.java
  backend/src/main/java/org/openhr/common/domain/application/Application.java
  frontend/src/app/modules/core/core-wrapper/service/lightweight-subject.service.ts
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.html
  frontend/src/app/modules/core/pages/manage-delegations/manage-delegations.component.ts
  frontend/src/app/shared/domain/application/application.ts
Due: npm run pretty, npm run google-format

Path conditions:
  npm run pretty: any of: *.{js,ts}
  npm run google-format: any of: *.java
