Repository Bartosz-D3V/OpenHR: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run google-format

.lintstagedrc:

{
  "linters": {
    "*.{js,ts}": [
      "npm run pretty",
      "git add"
    ],
    "*.java": [
      "npm run google-format",
      "git add"
    ]
  }
}

ci: added MD linter, enabled all available linters (#546)
  .codeclimate.yml
  .mdlrc
Due: none

:white_check_mark: tests: login page E2E tests
  frontend/e2e/pages/login/login.e2e-spec.ts
  frontend/e2e/pages/login/login.po.ts
  frontend/package.json
  frontend/src/app/shared/components/login-box/login-box.component.html
Due: npm run pretty

:white_check_mark: tests: login page E2E tests (#547)
  frontend/e2e/pages/login/login.e2e-spec.ts
  frontend/e2e/pages/login/login.po.ts
  frontend/package.json
  frontend/src/app/shared/components/login-box/login-box.component.html
Due: npm run pretty

tests: personal details page E2E tests
  frontend/e2e/pages/my-details/my-details.e2e-spec.ts
  frontend/e2e/pages/my-details/my-details.po.ts
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/e2e/shared.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.html
Due: npm run pretty

fix: issue with non-opening tab
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/e2e/shared.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: npm run pretty

fix: issue with non-opening tab (#549)
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/e2e/shared.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: npm run pretty

:fire: refactor(settings): removed darkmode toggle button
  frontend/src/app/modules/settings/pages/settings/settings.component.html
  frontend/src/app/modules/settings/pages/settings/settings.component.spec.ts
  frontend/src/app/modules/settings/pages/settings/settings.component.ts
Due: npm run pretty

:fire: refactor(settings): removed darkmode toggle button (#550)
  frontend/src/app/modules/settings/pages/settings/settings.component.html
  frontend/src/app/modules/settings/pages/settings/settings.component.spec.ts
  frontend/src/app/modules/settings/pages/settings/settings.component.ts
Due: npm run pretty

tests: added all tests for personal-details
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/e2e/shared.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: npm run pretty

tests: added all tests for personal-details (#551)
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/e2e/shared.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: npm run pretty

tests: added more tests
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: npm run pretty

tests: added more tests (#552)
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
Due: npm run pretty

finished tests
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
Due: npm run pretty

finished tests (#553)
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
Due: npm run pretty

:white_check_mark: tests(core): login page E2E tests (#548)
  frontend/e2e/pages/my-details/my-details.e2e-spec.ts
  frontend/e2e/pages/my-details/my-details.po.ts
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/e2e/shared.po.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.html
Due: npm run pretty

refactor: moved prettier files into frontend folder
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: none

refactor: moved prettier files into frontend folder (#554)
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: none

feat(core): manage workers details is now generic
  backend/src/main/java/org/openhr/application/hr/controller/HrController.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacade.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacadeImpl.java
  backend/src/main/java/org/openhr/application/hr/repository/HrRepository.java
  backend/src/main/java/org/openhr/application/hr/service/HrService.java
  backend/src/main/java/org/openhr/application/hr/service/HrServiceImpl.java
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.spec.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.scss
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.html
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
Due: npm run pretty, npm run google-format

feat: finish
  backend/src/main/java/org/openhr/application/manager/controller/ManagerController.java
  backend/src/main/java/org/openhr/application/manager/dao/ManagerDAO.java
  backend/src/main/java/org/openhr/application/manager/dao/ManagerDAOImpl.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacade.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacadeImpl.java
  backend/src/main/java/org/openhr/application/manager/repository/ManagerRepository.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerService.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerServiceImpl.java
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
Due: npm run pretty, npm run google-format

fix: disabled gecko
  frontend/package.json
Due: none

ci: disabled CI tests
  .appveyor.yml
  .travis.yml
Due: none

fixed test
  backend/src/test/java/org/openhr/application/manager/controller/ManagerControllerTest.java
Due: npm run google-format

feat: finish (#556)
  .appveyor.yml
  .travis.yml
  backend/src/main/java/org/openhr/application/manager/controller/ManagerController.java
  backend/src/main/java/org/openhr/application/manager/dao/ManagerDAO.java
  backend/src/main/java/org/openhr/application/manager/dao/ManagerDAOImpl.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacade.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacadeImpl.java
  backend/src/main/java/org/openhr/application/manager/repository/ManagerRepository.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerService.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerServiceImpl.java
  backend/src/test/java/org/openhr/application/manager/controller/ManagerControllerTest.java
  frontend/package.json
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
Due: npm run pretty, npm run google-format

tests: added missing tests
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
Due: npm run pretty

tests: added missing tests (#557)
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
Due: npm run pretty

feat(core): manage workers details is now generic (#555)
  .appveyor.yml
  .travis.yml
  backend/src/main/java/org/openhr/application/hr/controller/HrController.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacade.java
  backend/src/main/java/org/openhr/application/hr/facade/HrFacadeImpl.java
  backend/src/main/java/org/openhr/application/hr/repository/HrRepository.java
  backend/src/main/java/org/openhr/application/hr/service/HrService.java
  backend/src/main/java/org/openhr/application/hr/service/HrServiceImpl.java
  backend/src/main/java/org/openhr/application/manager/controller/ManagerController.java
  backend/src/main/java/org/openhr/application/manager/dao/ManagerDAO.java
  backend/src/main/java/org/openhr/application/manager/dao/ManagerDAOImpl.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacade.java
  backend/src/main/java/org/openhr/application/manager/facade/ManagerFacadeImpl.java
  backend/src/main/java/org/openhr/application/manager/repository/ManagerRepository.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerService.java
  backend/src/main/java/org/openhr/application/manager/service/ManagerServiceImpl.java
  backend/src/test/java/org/openhr/application/manager/controller/ManagerControllerTest.java
  frontend/package.json
  frontend/src/app/config/route-definitions.ts
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-employees-data/manage-employees-data.component.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.spec.ts
  frontend/src/app/modules/core/pages/manage-employees-data/service/manage-employees-data.service.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.scss
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.spec.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/shared/components/sidenav/sidenav-item-list/sidenav-item-list.component.html
  frontend/src/app/shared/services/hr/hr-team-member.service.ts
  frontend/src/app/shared/services/manager/manager.service.ts
Due: npm run pretty, npm run google-format

fix(core): minor fixes for templates
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
Due: npm run pretty

fix(core): minor fixes for templates (#558)
  frontend/e2e/pages/personal-details/personal-details.e2e-spec.ts
  frontend/e2e/pages/personal-details/personal-details.po.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/modules/core/pages/delegation/delegation.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.html
  frontend/src/app/modules/core/pages/leave-application/leave-application.component.ts
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.html
  frontend/src/app/modules/core/pages/manage-workers-data/manage-workers-data.component.ts
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.html
  frontend/src/app/modules/core/pages/personal-details/personal-details.component.ts
  frontend/src/app/modules/settings/pages/account/account.component.html
  frontend/src/app/shared/components/date-range/date-range.component.html
Due: npm run pretty

feat: added async validator for availability of username
  backend/src/main/java/org/openhr/application/user/controller/UserController.java
  backend/src/main/java/org/openhr/application/user/facade/UserFacade.java
  backend/src/main/java/org/openhr/application/user/facade/UserFacadeImpl.java
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.spec.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.ts
  frontend/src/app/shared/util/async-validators/service/async-validator.service.spec.ts
  frontend/src/app/shared/util/async-validators/service/async-validator.service.ts
  frontend/src/app/shared/util/helpers/object-helper.ts
Due: npm run pretty, npm run google-format

feat: added async validator for availability of username (#560)
  backend/src/main/java/org/openhr/application/user/controller/UserController.java
  backend/src/main/java/org/openhr/application/user/facade/UserFacade.java
  backend/src/main/java/org/openhr/application/user/facade/UserFacadeImpl.java
  frontend/src/app/modules/core/core.module.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.spec.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.ts
  frontend/src/app/shared/util/async-validators/service/async-validator.service.spec.ts
  frontend/src/app/shared/util/async-validators/service/async-validator.service.ts
  frontend/src/app/shared/util/helpers/object-helper.ts
Due: npm run pretty, npm run google-format

:sparkles: feat(core): added async email validation
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/application/user/dto/PasswordDTO.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.spec.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.ts
  frontend/src/app/shared/util/async-validators/service/async-validator.service.ts
Due: npm run pretty, npm run google-format

feat: secured REST endpoint with Role authorisation
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/hr/controller/HrController.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/manager/controller/ManagerController.java
Due: npm run google-format

:sparkles: feat(core): added async email validation (#561)
  backend/src/main/java/org/openhr/application/subject/controller/SubjectController.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacade.java
  backend/src/main/java/org/openhr/application/subject/facade/SubjectFacadeImpl.java
  backend/src/main/java/org/openhr/application/subject/repository/SubjectRepository.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectService.java
  backend/src/main/java/org/openhr/application/subject/service/SubjectServiceImpl.java
  backend/src/main/java/org/openhr/application/user/dto/PasswordDTO.java
  backend/src/main/java/org/openhr/application/user/service/UserServiceImpl.java
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.html
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.spec.ts
  frontend/src/app/modules/core/pages/add-employee/add-employee.component.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.spec.ts
  frontend/src/app/shared/util/async-validators/custom-async-validators.service.ts
  frontend/src/app/shared/util/async-validators/service/async-validator.service.ts
Due: npm run pretty, npm run google-format

:sparkles: feat(core): added validation against booking overlapping leaves
  backend/src/main/java/org/openhr/application/leaveapplication/repository/LeaveApplicationRepository.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/common/util/date/DateRangeUtil.java
  backend/src/main/resources/messages.properties
Due: npm run google-format

feat: secured REST endpoint with Role authorisation (#562)
  backend/src/main/java/org/openhr/application/delegation/controller/DelegationApplicationController.java
  backend/src/main/java/org/openhr/application/employee/controller/EmployeeController.java
  backend/src/main/java/org/openhr/application/hr/controller/HrController.java
  backend/src/main/java/org/openhr/application/leaveapplication/controller/LeaveApplicationController.java
  backend/src/main/java/org/openhr/application/manager/controller/ManagerController.java
Due: npm run google-format

:sparkles: feat(core): added validation against booking overlapping leaves (#563)
  backend/src/main/java/org/openhr/application/leaveapplication/repository/LeaveApplicationRepository.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationService.java
  backend/src/main/java/org/openhr/application/leaveapplication/service/LeaveApplicationServiceImpl.java
  backend/src/main/java/org/openhr/common/util/date/DateRangeUtil.java
  backend/src/main/resources/messages.properties
Due: npm run google-format

feat(core): improved dashboard layout
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.scss
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
Due: npm run pretty

fix
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.html
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.spec.ts
  frontend/src/app/modules/core/pages/dashboard/dashboard.component.ts
Due: npm run pretty
